# jupyter-book
cookiecutter
ghp-import
nbmanips
matplotlib
numpy
# pandas
# sklearn
# feature-engine
# imbalanced-learn
# scikit-plot
plotly

jupyter-book==0.15.1
nbconvert==6.5.4
importlib-metadata<7.0  # tránh xung đột
